* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: pink;
  font-family: "Helvetica Neue";
}

h1,
h2,
h3 {
  color: white;
}

nav {
  display: grid;
  align-items: center;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: pink;
  font-size: 1.5rem;
}

header,
footer,
article,
nav,
aside {
  padding: 2rem;
}

header {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: white;
}

header h1 {
  color: pink;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  text-align: center;
}

footer p {
  color: pink;
}

.body-container p {
  color: white;
}

.primary-button {
  color: pink;
  background-color: white;
  padding: 1rem;
  border: none;
}

.sidebar {
  text-align: center;
}

.profile-image {
  box-shadow: 0 0 0 2px #fff;
}

.primary-button:hover {
  cursor: pointer;
}

.main {
  display: flex;
  min-height: calc(100vh - 40vh);
}

.main>article {
  flex: 1;
}

.main>nav,
.main>aside {
  flex: 0 0 20vw;
}

.main>nav {
  order: -1;
  background-color: white;
}

.socials i {
  color: pink;
  padding: 0.2rem;
  text-decoration: none;
}


/* Media Queries for Devices */

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:320px) {}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:641px) {
  .main {
    /* Here we are stacking the flexbox vertically using `flex-direction: column` */
    /* so that the content is more readable and user friendly on smaller devices. */
    flex-direction: column;
  }

  body {
    /* we want to center everything on mobile */
    text-align: center;
  }

  nav {
    /* we want to horizontally stack the navbar on mobile */
    display: block;
  }

  nav a {
    padding: 0.5rem;
  }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}